<template name="wijzigkantoor" xmlns="http://www.w3.org/1999/html">

	<h2>Kies een kantoor</h2>

	<select id="kantoor">
		<option value=""></option>
		{{#each alleKantoren}}
			<option value="{{_id}}">{{naam}}</option>
		{{/each}}
	</select>

	<a href="/">Home</a>

	{{#contentFor "footer"}}
        Kantoor x
    {{/contentFor}}

</template>

<template name="berichtenOverzicht">
    <ul>
        {{#each alleBerichten}}
        <li>{{bericht}}</li>
        {{/each}}
    </ul>
</template>

<template name="postSubmit">
    <form method="POST" name="bericht">
        <table>
            <tr>
                <td>Gebruiker:</td>
                <td><input type="text" name="gebruiker" /></td>
            </tr>
            <tr>
                <td>Bericht:</td>
                <td><textarea name="bericht"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Verzenden"></td>
            </tr>
        </table>
    </form>
</template>
