<template name="Kantoor">
  <h2>Kies een kantoor</h2>

  <ul>
  {{#each alleKantoren}}
    <li>{{naam}} - {{adres.straat}} {{adres.nummer}}</li>
  {{/each}}
</ul>

  {{>postSubmit}}
  {{>berichtenOverzicht}}

  {{#contentFor "footer"}}
    Kantoor x
  {{/contentFor}}
</template>

<template name="berichtenOverzicht">
    <ul>
        {{#each alleBerichten}}
        <li>{{bericht}}</li>
        {{/each}}
    </ul>
</template>

<template name="postSubmit">
    <form method="POST" name="bericht">
        <table>
            <tr>
                <td>Gebruiker:</td>
                <td><input type="text" name="gebruiker" /></td>
            </tr>
            <tr>
                <td>Bericht:</td>
                <td><textarea name="bericht"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Verzenden"></td>
            </tr>
        </table>
    </form>
</template>
